*,
::before,
::after{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
*{
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Body */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F1FCF9;
}

/* Nav bar */
#nav-bar {
  background-color: #0000003b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
}
#mini-nav {
  max-width: 80rem;
  height: 4rem;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: auto;
  padding: 1rem;
}

.hamburguer {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #f1fcf9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.hamburguer:hover {
  cursor: pointer;
  color: #082b2a;
  transition: all 0.2s ease-in-out;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 14px 0;
  display: none;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  position: relative;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #1d263b;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3cc3b3;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

/* Panel */

.panel {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0rem;
  background-color: #02020273;
  backdrop-filter: blur(10px);
}

.hidden {
  display: none;
}

.panel-btn {
  /* background: linear-gradient(45deg, rgba(70,195,193,1) 0%, rgb(72, 237, 185) 100%); */
  background-color: #F1FCF9;
  border: 1px solid #196c66;
  border-radius: 0.4rem;
  padding: 0.5em;
  text-decoration: none;
  color: #196c66;
  font-size: large;
  font-weight: 500;
  width: 50%;
  text-align: center;
}

.panel-btn:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: .3s all ease-in-out ;
  background: #d0f7ee;
}

.first, .second, .third {
  background-color: #f1fcf9;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform-origin: right;
}

.active .first {
  transform: rotate(-45deg);
  /* background-color: #082b2a; */
}
.second {
  transform-origin: center;
}
.active .second {
  /* transform: scale(0.1); */
  transform: rotate(-360deg);
  /* transform: rotate(-720deg); */
  opacity: 0;
}
.active .third {
  transform: rotate(45deg);
  /* background-color: #082b2a; */
}


/* Seccion principal */

#about {
  padding: 4rem 0 0 0;
  height: calc(100vh + 4rem);
}
.programmer {
  width: 70%;
  height: auto;
}
.section {
  padding: 0rem 0rem;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-section {
  background-color: #f1fcf9;
  color: #020202;
}

.my-name {
  background: linear-gradient(45deg, rgba(70,195,193,1) 0%, rgba(35,196,145,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
  max-width: 80rem;
  margin: auto;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.about-content .description {
  flex: 1;
  max-width: 90%;
  text-align: left;
  color: #082b2a;
}

.about-content .description h2 {
  margin: auto;
  font-size: 35px;
  color: #082b2a;
  margin-bottom: 2rem;
}

.about-content .description p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #082b2a;
}


/* Projects */

#projects {
  background: linear-gradient(45deg, rgba(70,195,193,1) 0%, rgba(35,196,145,1) 100%);
  height: auto;
  color: #f1fcf9;
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  gap: 2rem;
}


#projects .container {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.project {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #f1fcf9;
  -webkit-box-shadow: -22px 23px 55px -18px rgba(8,43,42,0.72);
  -moz-box-shadow: -22px 23px 55px -18px rgba(8,43,42,0.72);
  box-shadow: -22px 23px 55px -18px rgba(8,43,42,0.72);
}



.project .desc-container p {
  color: #082b2a;
}

.desc-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0rem 1rem;
}

.desc-container h3 {
  color: #082b2a;
}
.img-container {
  background-color: transparent;
}
.img-project {
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
  border: 1px solid #082b2a;
}

.desc-btn {
  padding: 1rem;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.desc-btn a {
  padding: 0.6rem;
  border-radius: 0.3rem;
  text-decoration: none;
}
.repo {
  background: linear-gradient(45deg, rgba(70,195,193,1) 0%, rgba(35,196,145,1) 100%);
  color: #f1fcf9;
}

.repo:hover {
  background: linear-gradient(45deg, rgb(59, 156, 155) 0%, rgb(32, 172, 128) 100%);
}

.demo {
  color: #196c66;
  border: 1px solid #196c66;
}

.demo:hover {
  background-color: #d1f6ee;
  color: #196c66;
  border: 1px solid #196c66;
}

/* Skills and Tools section  */

#skills {
  background-color: #d1f6ee;
  color: #082b2a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0rem;
  gap: 2rem;
  height: auto;
  min-height: 100vh;
}

#skills .container {
  width: 100%;
  height: 100%;
}

.skill-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skill-title {
  color: #082b2a;
}

.front-container, .back-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0rem 0.5rem;
}

.front, .back {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.skill {
  height: 6rem;
  width: 6rem;
  background-color: #F1FCF9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80%;
}

.express {
  height: 2rem;
  padding-left: 0.3rem;
}

.javascript, .nodejs {
  height: 4rem;
}

.mongodb {
  padding-bottom: 0.5rem;
}

/* Contact me section */

#contact{
  padding: 0.5rem 0.2rem;
}
#contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F1FCF9;
  gap: 0.5rem;
}
.copy {
  font-size: 10px;
}
.contact-section {
  background-color: #1a877e;
  color: #fff;
}

.contact-section h3 {
  font-size: 18px;
  padding: 0.1rem 0rem;
  color: #f1fcf9;
}

.heart {
  color: rgb(238, 44, 44);
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons ul {
  list-style-type: none;
  display: flex;
}

.h2{
  text-align: center;
  margin: 1rem 0rem;
}
.social-icons ul li a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.red{
  width: 2rem;
  height: 2rem;
}
.redes{
  gap: 3rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.gmail{
  width: 2.5rem;
  height: 1.7rem;
  align-self: center;
}

.social-icons ul li a:hover {
  opacity: 0.7;
}
h3{
  color: #f2f2f2;
  margin: 1rem 0rem;
}
@media (min-width: 570px) {
  .programmer {
    width: 60%;
  }
  .container .description {
    width: 70%;
  }
}

@media(min-width: 768px){
  .hamburguer {
    display: none;
  }
  nav ul {
    padding: 20px;
    display: flex;
  }
  nav ul li a {
    font-size: 16px;
  }

  nav ul li {
    margin-right: 20px;
  }
  .programmer {
    width: 50%;
  }
  .about-content .description h2 {
    font-size: 43px;
  }

  #projects .container {
    flex-direction: row;
    width: 95%;
    gap: 1rem;
  }

  #projects .container:hover .project:not(:hover) {
    filter: grayscale(1);
    transition: 6s all ease;
  }

}
@media(min-width: 1024px){
  nav ul{
    padding: 22px;
  }
  nav ul li a{
    font-size: 18px;
  }
  .about-content{
    flex-direction: row;
  }
  .container .about-content h2 {
    margin-bottom: 3rem;
  }
  .description {
    padding: 1rem 4rem;
  }
  .description p{
    font-size: 2px;
  }
  .programmer {
    width: 30rem;
  }
  #projects {
    padding: 4rem 0rem;
    gap: 4rem;
  }
  #projects h2 {
    font-size: 30px;
  }
  .skill {
    height: 7rem;
    width: 7rem;
  }
  #skills {
    padding: 4rem 0rem;
  }
  #skills h2 {
    font-size: 30px;
  }

}
@media(min-width: 1440px){
  .h2{
    margin-bottom: 2rem;
  }
  .about-content .description p {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .programmer {
    height: 24rem;
  }

  .skill {
    height: 8rem;
    width: 8rem;
  }
}