*,
::before,
::after{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
*{
  margin: 0;
}

/* Body */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #a22112;
}

/* Nav bar */
#nav-bar {
  background-color: #00000053;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
}
#mini-nav {
  max-width: 80rem;
  height: 4rem;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: auto;
  padding: 1rem;
}

.mobile {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #f1fcf9;
  cursor: pointer;
}

.mobile:hover {
  background-color: #484b4e56;
  color: #082b2a;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 14px 0;
  display: none;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  position: relative;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #1d263b;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3cc3b3;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

/* Seccion principal */

#about {
  padding: 4rem 0 0 0;
  height: calc(100vh + 4rem);
}
.programmer {
  width: 70%;
  height: auto;
}
.section {
  padding: 2rem 0rem;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-section {
  background-color: #f1fcf9;
  color: #020202;
}

.my-name {
  background: linear-gradient(45deg, rgba(70,195,193,1) 0%, rgba(35,196,145,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
  max-width: 80rem;
  margin: auto;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.about-content .description {
  flex: 1;
  max-width: 90%;
  text-align: left;
  color: #082b2a;
}

.about-content .description h2 {
  margin: auto;
  font-size: 35px;
  color: #082b2a;
  margin-bottom: 2rem;
}

.about-content .description p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #082b2a;
}


.skills-section {
  background: linear-gradient(45deg, rgba(70,195,193,1) 0%, rgba(35,196,145,1) 100%);
}

.skills-section h2 {
  color: #f1fcf9;
  font-size: 28px;
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill {
  margin: 20px;
}

.logo-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d1f6ee;
  box-shadow: ;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 4s infinite ease-in-out;
}

.logo {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo.html {
  background-image: url("img/html_logo.png");
  width: 80px;
  height: 80px;
  animation: float 6s infinite ease-in-out;
}

.logo.js {
  background-image: url("img/js_logo.png");
  width: 70px;
  height: 70px;
  animation: float 7s infinite ease-in-out;
}

.logo.css {
  background-image: url("img/css_logo.png");
  width: 80px;
  height: 80px;
  animation: float 8s infinite ease-in-out;
}

.logo.python {
  background-image: url("img/python_logo.png");
  width: 75px;
  height: 75px;
  animation: float 7s infinite ease-in-out;
}

.logo.tailwind {
  background-image: url("img/tailwind_logo.png");
  width: 80px;
  height: 80px;
  animation: float 6s infinite ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.projects-section {
  background-color: #f2f2f2;
}

.projects-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.project-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s ease;
}

.project:hover .project-image {
  filter: blur(4px);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.project-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #1d263b;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.copy{
  text-align: start;
  opacity: 0.5;
  font-size: 10px;
}

.project-link:hover {
  background-color: #fff;
  color: #1d263b;
}
#contact{
  padding: 0px;
}
.contact-section {
  background-color: #1d263b;
  color: #fff;
}

.contact-section h2 {
  font-size: 28px;
  margin-bottom: 0px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons ul {
  list-style-type: none;
  display: flex;
}

.h2{
  text-align: center;
  margin: 1rem 0rem;
}
.social-icons ul li a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.red{
  width: 2rem;
  height: 2rem;
}
.redes{
  gap: 3rem;
  margin: 0;
  padding: 0;
}
.gmail{
  width: 2.5rem;
}

.social-icons ul li a:hover {
  opacity: 0.7;
}
h3{
  color: #f2f2f2;
  margin: 1rem 0rem;
}
@media (min-width: 570px) {
  .programmer {
    width: 60%;
  }
  .container .description {
    width: 70%;
  }
}

@media(min-width: 768px){
  .mobile {
    display: none;
  }
  nav ul {
    padding: 20px;
    display: flex;
  }
  nav ul li a {
    font-size: 16px;
  }
  .section{
    padding: 8rem 0rem;
  }
  nav ul li {
    margin-right: 20px;
  }
  .programmer {
    width: 50%;
  }
  .about-content .description h2 {
    font-size: 43px;
  }

}
@media(min-width: 1024px){
  nav ul{
    padding: 22px;
  }
  nav ul li a{
    font-size: 18px;
  }
  .about-content{
    flex-direction: row;
  }
  .container .about-content h2 {
    margin-bottom: 3rem;
  }
  .description{
    padding: 0rem 6rem;
  }
  .description p{
    font-size: 2px;
  }
  .programmer {
    width: 30rem;
  }


}
@media(min-width: 1440px){
  .description{
    padding: 0rem 10rem 0 10rem;
  }
  .h2{
    margin-bottom: 2rem;
  }
  .about-content .description p {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .section{
    padding: 11rem 0rem;
  }
  .programmer {
    height: 24rem;
  }
}